<!DOCTYPE html>
<html>
<head>
    <title>Kapor.ai Side Panel</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <style>
          #error { color: red; }
          #loginButton { display: none; }
    </style>
</head>
<body style="margin: 0px; padding: 0px;">
    <div class="kci side_panel" id="kci">
    </div>
    <div id="error"></div>
    <button id="loginButton">Log in to Google</button>
    <script src="../config.js"></script>
    <script src="../side_panel.js"></script>
</body>
</html>